<div class="panel panel-default">
  <div class="panel panel-heading">
    <p><strong ng-bind="studentsDetailCtrl.user.name"></strong></p>
  </div>
  <div class="panel panel-body">
    <table class="table table-responsive">
      <tbody>
        <tr>
          <td ng-bind="studentsDetailCtrl.user.username"></td>
        </tr>
          <tr>
          <td ng-bind="studentsDetailCtrl.user.email"></td>
        </tr>
        <tr>
          <td ng-bind="studentsDetailCtrl.user.phone"></td>
        </tr>
        <tr>
          <td ng-bind="studentsDetailCtrl.user.website"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
